// Colors

$off-black: #20222b;
$dark-blue: #1a0555;
$off-white: #a5afd7;
$pink: #af31a5;
$blue: #1916af;
$dark-light-blue: #062025;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;